h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffd700;
	text-align: center;
}

p {
	text-align: center;
}

span {
	font-weight: bold;
	color: red;
}

nav {
	background-color: #808080;
}

footer{
	background-color: #808080;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.desc {
	background: rgba(220,220,220,0.5);
	padding: 7px;
	border: white solid;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card{
	border: solid black 1px;
	height: 200px;
	width: 150px;
	background-color: yellow;
	float: left;
	margin: 8%;
	border-radius: 10px;
}

.navlink {
	background-color: #ffbf00;
	text-decoration: none;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.navlink:hover {
	background-color: #ee5f3c;
}