body {
	background-image: url('wood2.jpg');
	background-size: 100%;
}

h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #315896;
	text-align: center;
}

p {
	text-align: center;
	color: rgb(49, 88, 150);
	font-weight: 900;
}

span {
	font-weight: bold;
	color: yellow;
}

nav {
	background: rgba(49, 88, 150, 0.5);
	text-align: center;
}

footer {

}

.desc {
	background: rgba(220,220,220,0.5);
	padding: 7px;
	border: white solid;
}

.board {
	height: 50%;
	width: 100%;
	display: inline-block;
}

.card, .card2{
	border: solid black 1px;
	height: 210.16px;
	width: 150px;
	background-image: url('card.jpg');
	background-size: 100%;
	border-radius: 10px;
	margin: 20px;
	float: left;
}

.card2 {
	clear: left;
}

.flippedKing {
	border: solid black 1px;
	height: 210.16px;
	width: 150px;
	background-image: url('king.png');
	background-size: 100%;
	border-radius: 10px;
	margin: 20px;
	float: left;
}

.flippedQueen {
	border: solid black 1px;
	height: 210.16px;
	width: 150px;
	background-image: url('queen2.jpg');
	background-size: 100%;
	border-radius: 10px;
	margin: 20px;
	float: left;
}

.navlink {
	color: white;
	text-decoration: none;
	padding: 35px;
	display: block;
	float: left;
}

.foot {
	background: rgba(220,220,220,0.5);
	padding: 15px;
	margin: 0 33%;
	border: white solid;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.navlink:hover {
	background: rgba(49, 88, 150, 0.75);
}